/* General Styles */
body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f9f9f9;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

/* Header Style*/
header {
  background-color: #558B6E;
  color: #ffffff;
  padding: 25px 0;
}

.logo {
  margin: 0;
}

.logo a {
  color: #edd885;
  text-decoration: none;
  font-size: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-family:'Lucida Sans';
  font-size: 23px;
  color: #2d2a2a;
  font-weight: bold;
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
}

nav ul li a:hover {
  color: #E6D697;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9BB8AA;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Rest of the Content */
.container {
  max-width: 1200px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  color: #684d1d;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#touch {
  width: calc(65% - 20px); /* Adjust the width of the first section */
  margin-bottom: 20px;
}

#contact-form {
  width: calc(35% - 20px); /* Adjust the width of the aside */
  margin-bottom: 150px;
}

/* Get in Touch and Grow Together! */
#touch {
  padding: 20px;
  border-radius: 5px;
}

#touch h2 {
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}

#touch p {
  font-size: 30px;
  line-height: 1.6;
  color: #2d2a2a;
  text-align: justify;
  margin-right: 100px;
  margin-left: 100px;
}

.image-grid {
  display: grid;
  margin-top: 50px;
}

.image-grid img {
  width: 60%; /* Make sure images fill their container */
  height: auto;
  margin-left: 300px;
  margin-bottom: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a {
  color: #e6d697;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Social media */
.social-media {
  text-align: center;
  margin: auto;
}

.social-media h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.social-media p {
  font-size: 25px;
  margin-bottom: 50px;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 200px;
}

.social-links li a {
  color: #baa786; /* Change color as needed */
  font-size: 50px;
}

.social-links li a:hover {
  color: #e6d697; /* Change color as needed */
}

/* Subscription */
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  background-color: #D1BCE3; /* Background color for the div */
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 100px;
  margin-right: 60px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
}

.content h3 {
  font-size: 30px;
  color: #2d2a2a;
  margin-bottom: 15px;
  text-align: center;
}

.content form label {
  display: block;
  margin-bottom: 8px;
}

.content form input[type="text"], [type="email"], [type="password"], [type="checkbox"] {
  width: calc(100% - 20px); /* Adjust the width for inputs */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #2d2a2a;
}

.content form button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: #E6D697;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #2d2a2a;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.content form button:hover {
  background-color: #fbfdff;
  color: #2d2a2a;
}

.content form button[type="reset"] {
  background-color: #E6D697; /* Adjust color for reset button */
  color: #2d2a2a;
  margin-right: 10px;
}

.content form button[type="reset"]:hover {
  background-color: #fbfdff;
  color: #2d2a2a;
}

/* Footer Styles */
footer {
  background-color: #558B6E;
  color: #2d2a2a;
  padding: 30px 0;
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%; /* Ensure the footer spans the entire width */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-column h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-column p {
  font-size: 23px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #2d2a2a;
  font-size: 23px;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: #558B6E;
  color: #2d2a2a;
  padding: 30px 0;
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%; /* Ensure the footer spans the entire width */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-column h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-column p {
  font-size: 23px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #2d2a2a;
  font-size: 23px;
  text-decoration: none;
}

/*Footer subscription form*/
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-form input[type="email"] {
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #605a5a;
  margin-right: 50px;
}

.footer-form input[type="submit"] {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #E6D697;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #242222;
  font-size: 15px;
  cursor: pointer;
  margin-right: 50px;
}

.footer-form input[type="submit"]:hover {
  background-color: #fbfdff;
  color: #2d2a2a;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}